:root {
  --color-accent: oklch(65% 50% 0);
  color-scheme: light dark;
}

body {
  display: block;
  max-width: 100ch;
  margin-inline: auto;
  padding: 32px;
  accent-color: var(--color-accent);
}

ul.links {
  display: contents;
  li {
    display: contents;
  }
}

nav {
  --border-color: oklch(50% 10% 200 / 40%); /* still not obvious in dark mode */
  display: flex;
  margin-bottom: auto;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
  /*text-align: center;
  justify-content: space-evenly;*/
}

nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
  /*justify-content: space-evenly;*/
}

nav a.current {
  margin-bottom: auto;
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
  padding-bottom: 0.1em;
}

nav a:hover {
  margin-bottom: auto;
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: var(--color-accent);
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
  padding-bottom: 0.1em;
}

/*form input, textarea, button {
  font: inherit;
  width: 100%;
  box-sizing: border-box;
}

form label, input, textarea, button{
  display: block;
}

form label {
  margin-block: 10px;
}*/

form input, textarea, button {
  font: inherit;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
  label {
    display: grid;
    grid-template-columns: subgrid;
  }
  button {
    grid-column: 1 / -1;
  }
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
  article {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    h2 {
      margin: 0;
    }
  }
}

h1 {
  color: rebeccapurple;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}

label.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
}/*you can just add select to your existing input, textarea, button rule about that from Lab 2*/

label select {
  font: inherit;
}

div#profile-stats dl{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

div#profile-stats dl dt{
  grid-row: 1;
  padding: 0.5rem;
  color: oklch(0.68 0.0321 207);
}

div#profile-stats dl dd {
  grid-row: 2;
  margin: 0;
  padding: 0.5rem;
  font-size: large;
}

small.project-year {
  font-family: Baskerville;
  font-variant-numeric: oldstyle-nums;
  color: grey;
  font-size: large;
}

#projects-plot {
  max-width: 20em;
  margin-block: 2em;

  overflow: visible;
}

span.swatch{
  width: 1em;
  aspect-ratio: 1 / 1;
  background-color: var(--color);
  display: inline-block;
  border-radius: 30% 30% 30% 30%;
}

.legend {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  padding: 1em;
  margin: 1em;
  border: 1px solid oklch(50% 10% 200 / 40%);
  flex: 1
}

.legend li {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

div.container {
  display: flex;
}

&:has(path:hover) {
  path:not(:hover) {
    opacity: 0.5;
  }
}

path {
  transition: 300ms;
}

.selected {
  /* --color: oklch(60% 45% 0) !important; */
  --color: oklch(0.55 0.2417 25.41) !important;

  &:is(path) {
    fill: var(--color);
  }
}

path {
  cursor: pointer;
}

.searchBar {
  width: 100%;
  max-width: 100%;
  padding: 0.5em;
  font-size: 1rem;
  margin-bottom: 1em;
}

div#stats dl{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

div#stats dl dt{
  grid-row: 1;
  padding: 0.5rem;
  color: oklch(0.68 0.0321 207);
}

div#stats dl dd {
  grid-row: 2;
  margin: 0;
  padding: 0.5rem;
  font-size: large;
}

.gridlines line{
  stroke: lightgray;
  stroke-opacity: 0.5;
}

dl.info {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: 1em;
  row-gap: 0.25em;
  margin: 0;
  transition-duration: 500ms;
  transition-property: opacity, visibility;
}

dl.info dt, dl.info dd {
  margin: 0;
}

dl.info dt {
  opacity: 0.6;
  font-weight: normal;
}

dl.info[hidden]:not(:hover, :focus-within) {
  opacity: 0;
  visibility: hidden;
}

.tooltip {
  position: fixed;
  top: 1em;
  left: 1em;
  background-color: white;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 15%;
  backdrop-filter: blur(10px);
  backdrop-filter: opacity(20%);
  padding: 20px;
}

circle {
  transition: 200ms;
  transform-origin: center;
  transform-box: fill-box;
  @starting-style {
    r: 0;
  }
}

circle:hover {
  transform: scale(1.5);
}

@keyframes marching-ants {
  to {
    stroke-dashoffset: -8; /* 5 + 3 */
  }
}

.selection {
  fill-opacity: 0.1;
  stroke: black;
  stroke-opacity: 0.7;
  stroke-dasharray: 5 3;
  animation: marching-ants 2s linear infinite;
}

circle.selected {
  fill: #ff6b6b;
}

.language-breakdown#stats {
  display: grid;
}

#language-breakdown.stats {
  display: flex;
  flex-flow: column wrap;
  max-height: 6em;
  border: 1px solid #933030;
}
#language-breakdown.stats dt {
  padding: 2px 4px;
  background: #333;
  color: #fff;
  font-size: 20px;
}
#language-breakdown.stats dd {
  margin: 0;
  padding: 4px;
  min-height: 3em;
  font-size: 20px;
}

article img {
  max-width: 100%;
  width: 300px;
  height: auto;
}


div.meta-slider {
  display: flex;
  align-items: baseline;
  width: 100%;
}

div.meta-slider time#selected-time {
  margin-left: auto;
  display: block;
}

div.meta-slider input {
  flex: 1;
}

#files {
  display: grid;
  grid-template-columns: 1fr 4fr;

  > div {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
  }

  dt {
    grid-column: 1;
  }

  dd {
    grid-column: 2;
  }
}

#files div .loc {
  display: flex;
  width: 0.5em;
  aspect-ratio: 1;
  background: steelblue;
  background-color: var(--color);
  border-radius: 50%;
}

#files dd {
  grid-column: 2;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  align-content: start;
  gap: 0.15em;
  padding-top: 0.6em;
  margin-left: 0;
}

#scrolly-1 {
  position: relative;
  display: flex;
  gap: 1rem;

  > * {
    flex: 1;
  }
}

#scatter-story {
  position: relative;
}

#scatter-plot {
  position: sticky;
  top: 0;
  left: 0;
  bottom: auto;
  height: 50vh;
}

#scrolly-2 {
  position: relative;
  display: flex;
  gap: 1rem;

  > * {
    flex: 1;
  }
}

#scatter-story2 {
  position: relative;
}

#files {
  position: sticky;
  top: 0;
  left: 0;
  bottom: auto;
  height: 50vh;
}